In [20]:
# for data
import pandas as pd
import numpy as np
from pandasgui import show
import os
import sys

import datetime

# for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
parent_folder = os.path.dirname(os.getcwd())

In [22]:
aviation_data_path = os.path.join(
    parent_folder, 'data', 'clean_aviation_data_2.csv')


df = pd.read_csv(aviation_data_path, encoding='latin-1')

In [23]:
# gui = show(df)

In [24]:
df.dtypes

Unnamed: 0               int64
location                object
injury_severity         object
aircraft_damage         object
make                    object
model                   object
number_of_engines      float64
engine_type             object
weather_conditions      object
phase_of_flight         object
Year                     int64
Month                    int64
Day                      int64
injuries               float64
pax_onboard            float64
fatality_percentage    float64
survived               float64
AmateurBuilt            object
dtype: object

In [25]:
df['injury_severity'] = df['injury_severity'].str.replace('\d+', '')

C:\Users\Makara PC\AppData\Local\Temp\ipykernel_14388\1768498327.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['injury_severity'] = df['injury_severity'].str.replace('\d+', '')

In [26]:
cols = ['injury_severity']
for col in cols:
    df[col] = df[col].map(lambda x: str(x).lstrip(' ()').rstrip(' ()'))

In [27]:
df = df.rename(columns={'injury_severity': 'target',
               'AmateurBuilt': 'amateur_built'})

In [28]:
# gui = show(df)

In [29]:
df.replace({'target': {'Incident': 'Non-Fatal'}}, inplace=True)

In [30]:
df.head()

,Unnamed: 0,location,target,aircraft_damage,make,model,number_of_engines,engine_type,weather_conditions,phase_of_flight,Year,Month,Day,injuries,pax_onboard,fatality_percentage,survived,amateur_built
0,0,"CAMBRIA, NY",Non-Fatal,Destroyed,Unknown,64,1.0,Reciprocating,VMC,CLIMB,1982,6,13,1.0,1.0,0.0,1.0,No
1,1,"MCWHORTER, KY",Non-Fatal,Destroyed,Unknown,KR-2,1.0,Reciprocating,VMC,CRUISE,1982,7,1,2.0,2.0,0.0,2.0,Yes
2,2,"FREDERICK, MD",Fatal,Destroyed,Unknown,WINDWAGON,1.0,Reciprocating,VMC,APPROACH,1982,7,16,1.0,1.0,100.0,0.0,Yes
3,3,"VENTURA, CA",Non-Fatal,Destroyed,Unknown,MIDGET MUSTANG,1.0,Reciprocating,VMC,MANEUVERING,1982,8,21,0.0,1.0,0.0,1.0,Yes
4,4,"SIDNEY, NE",Non-Fatal,Substantial,Unknown,SKYBOLT,1.0,Reciprocating,VMC,LANDING,1982,8,24,0.0,1.0,0.0,1.0,Yes

In [31]:
df.target.value_counts(ascending=False)

Non-Fatal    39511
Fatal         9150
Name: target, dtype: int64

In [32]:
df.dtypes

Unnamed: 0               int64
location                object
target                  object
aircraft_damage         object
make                    object
model                   object
number_of_engines      float64
engine_type             object
weather_conditions      object
phase_of_flight         object
Year                     int64
Month                    int64
Day                      int64
injuries               float64
pax_onboard            float64
fatality_percentage    float64
survived               float64
amateur_built           object
dtype: object

In [33]:
df.head()

,Unnamed: 0,location,target,aircraft_damage,make,model,number_of_engines,engine_type,weather_conditions,phase_of_flight,Year,Month,Day,injuries,pax_onboard,fatality_percentage,survived,amateur_built
0,0,"CAMBRIA, NY",Non-Fatal,Destroyed,Unknown,64,1.0,Reciprocating,VMC,CLIMB,1982,6,13,1.0,1.0,0.0,1.0,No
1,1,"MCWHORTER, KY",Non-Fatal,Destroyed,Unknown,KR-2,1.0,Reciprocating,VMC,CRUISE,1982,7,1,2.0,2.0,0.0,2.0,Yes
2,2,"FREDERICK, MD",Fatal,Destroyed,Unknown,WINDWAGON,1.0,Reciprocating,VMC,APPROACH,1982,7,16,1.0,1.0,100.0,0.0,Yes
3,3,"VENTURA, CA",Non-Fatal,Destroyed,Unknown,MIDGET MUSTANG,1.0,Reciprocating,VMC,MANEUVERING,1982,8,21,0.0,1.0,0.0,1.0,Yes
4,4,"SIDNEY, NE",Non-Fatal,Substantial,Unknown,SKYBOLT,1.0,Reciprocating,VMC,LANDING,1982,8,24,0.0,1.0,0.0,1.0,Yes

In [34]:
df.columns

Index(['Unnamed: 0', 'location', 'target', 'aircraft_damage', 'make', 'model',
       'number_of_engines', 'engine_type', 'weather_conditions',
       'phase_of_flight', 'Year', 'Month', 'Day', 'injuries', 'pax_onboard',
       'fatality_percentage', 'survived', 'amateur_built'],
      dtype='object')

In [35]:
json_path = os.path.join(parent_folder, 'data', 'jsons')

In [36]:
path = os.path.join(json_path, 'make_counts.json')

make_counts = df['make'].value_counts()
make_counts.to_json(path)